body {
  background: #fcf7f2;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}

.header {
  float: right;
}

a {
  text-decoration: none;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding-right: 20px;
  letter-spacing: 2px;
  outline: none;
}

p {
  padding-left: 75px;
  padding-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #dfdcd9;
  font-size: 20px;
}

h3 {
  font-family: monospace;
  font-size: 60px;
  font-weight: normal;
  padding-left: 40px;
  color: rgb(95, 92, 92);
}

.top {
  position: fixed;
  top: 200px;
  display: block;
}

.bottom {
  position: absolute;
  top: 2500px;
  height: 2000px;
  width: 100%;
}

.footer {
  position: absolute;
  left: 90%;
  top: 3600px;
}

.author {
  padding-left: 1000px;
  color: grey;
  margin-top: -100px;
  font-size: 20px;
}

@media (max-width: 480px) {
  a {
    font-size: 0.6em;
    letter-spacing: 1px;
  }

  p {
    padding-left: 20px;
    padding-top: 75px;
    letter-spacing: 0.5px;
    font-size: 10px;
  }

  h3 {
    font-size: 13px;
    padding-left: 20px;
  }

  .top {
    top: 100px;
  }

  .bottom {
    top: 1250px;
    height: 1000px;
    width: 100%;
  }

  .footer {
    left: 70%;
    top: 1620px;
  }

  .author {
    padding-left: 200px;
    margin-top: -50px;
    font-size: 10px;
  }
}
