html,
body {
  margin: 0px;
  height: 100%;
  background: black;
  -webkit-box-sizing: border-box, content-box;
  box-sizing: border-box, content-box;
}

.container {
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 918px;
  margin: 0 auto;
}

.box {
  height: 11.099%;
  width: 11.099%;
  display: block;
}

.box:hover {
  -webkit-box-shadow: 2.5px 1.5px 1px #777;
  box-shadow: 2.5px 1.5px 1px #777;
}

@media (max-width: 480px) {
  .container {
    width: 430px;
    height: 100%;
  }
  .box {
    height: 11.099%;
    width: 11.099%;
    display: block;
  }
}
